<style>
    .select-editable { position:relative; background-color:white; border:solid grey 1px;  width:120px; height:18px; }
    .select-editable select { position:absolute; top:0px; left:0px; font-size:14px; border:none; width:120px; margin:0; }
    .select-editable input { position:absolute; top:0px; left:0px; width:100px; padding:1px; font-size:12px; border:none; }
    .select-editable select:focus, .select-editable input:focus { outline:none; }
    .section { background-color: #f8f8f8;}
  </style>
  
  <section class="fullwidth py-5 section">
    <div class="container ">
      <h1 class="color-brand pb-2">About Us</h1>
      <p>
        N.T. R. Arts is an Indian film production company, located at Banjara Hills, Hyderabad. Established by actor Nandamuri Kalyan Ram, it is named after his grandfather Nandamuri Taraka Rama Rao.Nandamuri Kalyan Ram established the production house with the name of his grandfather, actor and former Chief Minister of Andhra Pradesh, Nandamuri Taraka Rama Rao, known as 'NTR'.
      </p>
    </div>
  </section>
  <section class="fullwidth py-5 section">
    <div class="container">
      <h1 class="color-brand pb-2">Our Team</h1>
        <div class="row side-padding">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/OurTeam/kalyanram.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Nandamuri Kalyan Ram</h5>
                  <p class="card-text">C.E.O , Actor , Producer</p>
                  <a href="https://en.wikipedia.org/wiki/Nandamuri_Kalyan_Ram" class="btn btn-primary">Know Me</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/OurTeam/Hari.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Hari</h5>
                  <p class="card-text">Co-Producer</p>
                  <a href="https://www.facebook.com/harikrishna.kosaraju" class="btn btn-primary">Know Me</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/OurTeam/mahesh.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Mahesh S Koneru</h5>
                  <p class="card-text">Public Relations</p>
                  <a href="https://www.facebook.com/smkoneru" class="btn btn-primary">Know Me</a>
                </div>
              </div>
        </div>
    </div>
  </section>
  <section class="fullwidth py-5 section">
    <div class="container ">
      <h1 class="color-brand pb-2">Our Partners</h1>
      <div class="row center-padding">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/images/OurTeam/AdvithaStudio.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Advitha Creative Studios</h5>
              <a href="https://www.facebook.com/smkoneru" class="btn btn-primary">You Dream | We Deliver</a>
            </div>
          </div>
      </div>
    </div>
  </section>