<section class="fullwidth py-5">
    <div class="container">
      <h1 class="color-brand pb-2">Welcome to NTR ARTS Filmography</h1>
      <p class="text-large">Choose an option below to access your preferences</p>
    </div>
  </section>
  
  <section class="fullwidth py-5 mb-5">
    <div class="container">
  
      <div class="row">
        <div class="col-12 col-lg-5 offset-lg-1 d-flex">
          <div class="d-flex flex-column w-100 justify-content-center bg-white pt-5 pr-5 pb-4 pl-5 mb-5 option-box">
            <div class="btn-container">
              <a href="/projects" class="btn btn-form">Projects</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-5 d-flex ">
          <div class="d-flex flex-column w-100 justify-content-center bg-white pt-5 pr-5 pb-4 pl-5 mb-5 option-box">
            <div class="btn-container">
              <a href="/upcomingprojects" class="btn btn-form">UpcomingProjects</a>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </section>